.movie__list {
    padding: 0 1px 1px 1px;
}

.list__title {
font-size: 1.75rem;
padding-top: 15px;
margin:  2.5rem;
color: white;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}