.notFound{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/839/927/713/404-fon-error-404-not-found-wallpaper-preview.jpg');
    height: 81vh;
    font-size:50px;
    background-size: contain;
    background-repeat: no-repeat;
}